<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788404651902-1bv96v8uajplukjgfq09hfd7o06ca6hi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788404651902-1bv96v8uajplukjgfq09hfd7o06ca6hi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>788404651902-jafr59d4qrtgu23gtqt5cegt4eu1f4qd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDlGg39jqFCWtGJ24S8R567KNr32kXmhMI</string>
	<key>GCM_SENDER_ID</key>
	<string>788404651902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatcupid</string>
	<key>PROJECT_ID</key>
	<string>chatcupid-87b76</string>
	<key>STORAGE_BUCKET</key>
	<string>chatcupid-87b76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788404651902:ios:cf82b6ef7ab3d973b2152f</string>
</dict>
</plist>